body {
    margin: 0px;
    font-family: 'Lora', serif;

    background-image: url('../images/black_background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    margin: 0px;
    font-family: 'Lora', serif;
}

p, h1 {
    font-family: 'Lora', serif;
}

.cooking_video{
    margin: 50px;
    position: fixed;
    width: 50%;
}


.horizontal_container{
    display: flex;
    justify-content: space-between;
}

.container_item{
    flex: 1;
    padding: 10px;
    margin: 5px;
}

.header_container{
    flex-direction: row;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 12px;
    margin: 0px;
    min-width: 600px;
}

.back_button{
    background-color: rgba(255, 255, 255, 0.205);
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.6s ease;
}

.back_button:hover{
    background-color: #FFD699;
    transition: 0.8s ease;
    transform: scale(1.1);
}

.back_button_text{
    text-decoration: none;
    color: white;
}

.back_button_text:hover{
    color: black;
}


.info_box{
    background-color: rgba(255, 255, 255, 0.205);
    color: white;
    border-radius: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: justify;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    margin-top: 20px;
    margin-left: 5%;
    margin-right: 27%;
    margin-bottom: 50px;

    font-size: 18px;
    line-height: 1.8
}