body {
    margin: 0px;
    font-family: 'Lora', serif;

    background-image: url('../images/black_background4.jpg');
    background-repeat: repeat;
    background-attachment: fixed;

    color: whitesmoke;
}

header {
    margin: 0px;
    font-family: 'Lora', serif;
}

p, h1, h2 {
    font-family: 'Lora', serif;
    color: whitesmoke;
}


.header_container{
    flex-direction: row;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 12px;
    margin: 0px;
    min-width: 600px;
}

.back_button{
    background-color: rgba(255, 255, 255, 0.205);
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.6s ease;
}

.back_button:hover{
    background-color: #FFD699;
    transition: 0.8s ease;
    transform: scale(1.1);
}

.back_button_text{
    text-decoration: none;
    color: white;
}

.back_button_text:hover{
    color: black;
}


.menu_row{
    background-color: rgba(255, 255, 255, 0.133);
    color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: justify;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 25%;
    margin-right: 25%;
}

.menu_item_name{
    font-size: 35px;
    margin-left: 6%;
    margin-right: 4%;
}

.menu_price{
    font-size: 35px;
    margin-left: 4%;
    margin-right: 4%;
}

.menu_image {
    margin-left: 10px;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.vertical-line {
    border-left: 1px solid whitesmoke;
    height: 70px;
}