body {
    margin: 0px;
    font-family: 'Lora', serif;

    background-image: url('../images/black_background4.jpg');
    background-repeat: repeat;
    background-attachment: fixed;

    color: whitesmoke;

    margin-bottom: 80px;
}

header {
    margin: 0px;
    font-family: 'Lora', serif;
}

p, h1, h2 {
    font-family: 'Lora', serif;
    color: whitesmoke;
}


.header_container{
    flex-direction: row;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 12px;
    margin: 0px;
    min-width: 600px;

    align-items: center;
    text-align: center;
}

.button_in_header{
    background-color: rgba(255, 255, 255, 0.205);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;

    white-space: nowrap;
}

.button_in_header:hover{
    background-color: #FFD699;
    transition: 0.6s ease;
    transform: scale(1.1);
}

.button_in_header_odkaz{
    text-decoration: none;
    color: white;
}

.button_in_header_odkaz:hover{
    color: black;
}

.center_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item_row{
    background-color: rgba(255, 255, 255, 0.133);
    color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
}

.menu_item_name{
    font-size: 20px;
    text-align: center;
    padding-left: 5%;
}

.menu_item_price {
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
    margin-left: 10%;
    padding-right: 5%;
}